.modal-container {
  z-index: 1200;
  position: absolute;
}

.wrapper-modal {
  position: fixed;
  inset: 0px;
  background-color: rgb(0 0 0 / 71%);
  display: flex;
  justify-content: center;
}

.modal {
  position: relative;
  max-width: 800px;
  width: 90%;
  height: 90vh;
  margin-top: 40px;
  background: #111;
  overflow: hidden;
  border-radius: 8px;
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 1001;
  /* 배경 */
  background-color: rgba(0, 0, 0);
  border-radius: 50%;
  /* 배경 크기 조절 */
  width: 30px;
  height: 30px;
  /* X 생상 */
  filter: brightness(1) invert(0);
}

.modal-poster-container {
  position: relative;
  width: 100%;
}

.modal-poster-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9; /* 넷플릭스 비디오 비율 */
  border: none;
}

.modal-poster {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.modal-poster-btn {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 10;
}

.modal-content {
  padding: 40px;
  color: white;
  overflow-y: auto;
  flex-grow: 1;

  /* 스크롤바 숨기기 */
  /* Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer */
  -ms-overflow-style: none;
}

.modal-title {
  margin-top: 10px;
  font-size: 2.5rem;
}

.modal-overview {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 20px;
}

.modal-lay-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
